In [ ]:
import pandas as pd
import numpy as np
import requests
!conda install --yes anaconda beautifulsoup4

In [2]:
from bs4 import BeautifulSoup

# Part 1

### Get data from wikipedia with Beautiful Soup and rename cloumn name(s)

In [3]:
page = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(page.content,'lxml')
table = soup.find_all('table')[0]
df = pd.read_html(str(table))[0]
df.rename(columns={'Postcode' : 'PostalCode'}, inplace = True)
df.head()

  PostalCode           Borough     Neighbourhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

### Remove all boroughs without a name

Show any boroughs without name

In [4]:
df[df['Borough'] == 'Not assigned']

    PostalCode       Borough Neighbourhood
0          M1A  Not assigned  Not assigned
1          M2A  Not assigned  Not assigned
8          M8A  Not assigned  Not assigned
12         M2B  Not assigned  Not assigned
19         M7B  Not assigned  Not assigned
..         ...           ...           ...
277        M4Z  Not assigned  Not assigned
278        M5Z  Not assigned  Not assigned
279        M6Z  Not assigned  Not assigned
280        M7Z  Not assigned  Not assigned
286        M9Z  Not assigned  Not assigned

[77 rows x 3 columns]

Remove them

In [5]:
df = df[df['Borough'] != 'Not assigned']

See if any are left

In [6]:
df[df['Borough'] == 'Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighbourhood]
Index: []

### Merge neighbourhoods with same PostalCode

Group by PostalCode and Borough. There are no PostalCodes spanning multiple Boroughs (assumed). Using both for grouping to keep Borough information in output. Each group contians list of Neighbourhoods in PostalCode area (in form of pandas series of strings). Join the strings in series, seperate by ' ,'. Groupby re-merges all into DataFrame.

In [7]:
df = df.groupby(['PostalCode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

### Change nameless neighbourhoods to their respective borough name

Show any neighbourhoods without name

In [8]:
 df[df['Neighbourhood'] == 'Not assigned']

   PostalCode       Borough Neighbourhood
85        M7A  Queen's Park  Not assigned

Rename

In [9]:
df['Neighbourhood'] = df.apply(lambda row: row['Borough'] if row['Neighbourhood'] == 'Not assigned' else row['Neighbourhood'], axis = 1 )

Check if any are left

In [10]:
 df[df['Neighbourhood'] == 'Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighbourhood]
Index: []

### Print shape of DataFrame

In [11]:
df.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [12]:
df.shape

(103, 3)

# Part 2

### Get Data

In [13]:
coords = pd.read_csv("https://cocl.us/Geospatial_data")
coords.rename(columns={'Postal Code' : 'PostalCode'}, inplace = True)
coords.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

### Join the dataframes on PostalCode

Set index to PostalCode in bot dataframes in order to join them on it.

In [14]:
df = df.set_index('PostalCode').join(coords.set_index('PostalCode'))

Reset index so PostalCode is normal column again

In [15]:
df.reset_index()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054

# Part 3

Define Foursquare Credentials

HIDDEN

Define function to get venue category

In [17]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

Define function to get nearby venues

In [18]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighbourhood', 
                  'Neighbourhood Latitude', 
                  'Neighbourhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

Define limits and filter data

In [19]:
df_limit = df[df['Borough'].str.contains('Toronto')]
LIMIT = 100
radis = 500
df_limit

,Borough,Neighbourhood,Latitude,Longitude
PostalCode,,,,
M4E,East Toronto,The Beaches,43.676357,-79.293031
M4K,East Toronto,"The Danforth West, Riverdale",43.679557,-79.352188
M4L,East Toronto,"The Beaches West, India Bazaar",43.668999,-79.315572
M4M,East Toronto,Studio District,43.659526,-79.340923
M4N,Central Toronto,Lawrence Park,43.728020,-79.388790
M4P,Central Toronto,Davisville North,43.712751,-79.390197
M4R,Central Toronto,North Toronto West,43.715383,-79.405678
M4S,Central Toronto,Davisville,43.704324,-79.388790
M4T,Central Toronto,"Moore Park, Summerhill East",43.689574,-79.383160
M4V,Central Toronto,"Deer Park, Forest Hill SE, Rathnelly, South Hi...",43.686412,-79.400049
M4W,Downtown Toronto,Rosedale,43.679563,-79.377529
M4X,Downtown Toronto,"Cabbagetown, St. James Town",43.667967,-79.367675
M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
M5A,Downtown Toronto,Harbourfront,43.654260,-79.360636
M5B,Downtown Toronto,"Ryerson, Garden District",43.657162,-79.378937
M5C,Downtown Toronto,St. James Town,43.651494,-79.375418
M5E,Downtown Toronto,Berczy Park,43.644771,-79.373306
M5G,Downtown Toronto,Central Bay Street,43.657952,-79.387383
M5H,Downtown Toronto,"Adelaide, King, Richmond",43.650571,-79.384568
M5J,Downtown Toronto,"Harbourfront East, Toronto Islands, Union Station",43.640816,-79.381752
M5K,Downtown Toronto,"Design Exchange, Toronto Dominion Centre",43.647177,-79.381576
M5L,Downtown Toronto,"Commerce Court, Victoria Hotel",43.648198,-79.379817
M5N,Central Toronto,Roselawn,43.711695,-79.416936
M5P,Central Toronto,"Forest Hill North, Forest Hill West",43.696948,-79.411307
M5R,Central Toronto,"The Annex, North Midtown, Yorkville",43.672710,-79.405678
M5S,Downtown Toronto,"Harbord, University of Toronto",43.662696,-79.400049
M5T,Downtown Toronto,"Chinatown, Grange Park, Kensington Market",43.653206,-79.400049
M5V,Downtown Toronto,"CN Tower, Bathurst Quay, Island airport, Harbo...",43.628947,-79.394420
M5W,Downtown Toronto,Stn A PO Boxes 25 The Esplanade,43.646435,-79.374846
M5X,Downtown Toronto,"First Canadian Place, Underground city",43.648429,-79.382280
M6G,Downtown Toronto,Christie,43.669542,-79.422564
M6H,West Toronto,"Dovercourt Village, Dufferin",43.669005,-79.442259
M6J,West Toronto,"Little Portugal, Trinity",43.647927,-79.419750
M6K,West Toronto,"Brockton, Exhibition Place, Parkdale Village",43.636847,-79.428191
M6P,West Toronto,"High Park, The Junction South",43.661608,-79.464763
M6R,West Toronto,"Parkdale, Roncesvalles",43.648960,-79.456325
M6S,West Toronto,"Runnymede, Swansea",43.651571,-79.484450
M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern,43.662744,-79.321558

Get venues for Toronto neighbourhoods

In [20]:
toronto_venues = getNearbyVenues(names=df_limit['Neighbourhood'],
                                   latitudes=df_limit['Latitude'],
                                   longitudes=df_limit['Longitude']
                                  )

The Beaches
The Danforth West, Riverdale
The Beaches West, India Bazaar
Studio District
Lawrence Park
Davisville North
North Toronto West
Davisville
Moore Park, Summerhill East
Deer Park, Forest Hill SE, Rathnelly, South Hill, Summerhill West
Rosedale
Cabbagetown, St. James Town
Church and Wellesley
Harbourfront
Ryerson, Garden District
St. James Town
Berczy Park
Central Bay Street
Adelaide, King, Richmond
Harbourfront East, Toronto Islands, Union Station
Design Exchange, Toronto Dominion Centre
Commerce Court, Victoria Hotel
Roselawn
Forest Hill North, Forest Hill West
The Annex, North Midtown, Yorkville
Harbord, University of Toronto
Chinatown, Grange Park, Kensington Market
CN Tower, Bathurst Quay, Island airport, Harbourfront West, King and Spadina, Railway Lands, South Niagara
Stn A PO Boxes 25 The Esplanade
First Canadian Place, Underground city
Christie
Dovercourt Village, Dufferin
Little Portugal, Trinity
Brockton, Exhibition Place, Parkdale Village
High Park, The Junction South
Parkdale, Roncesvalles
Runnymede, Swansea
Business Reply Mail Processing Centre 969 Eastern

In [21]:
toronto_venues.head()

,Neighbourhood,Neighbourhood Latitude,Neighbourhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,The Beaches,43.676357,-79.293031,Glen Manor Ravine,43.676821,-79.293942,Trail
1,The Beaches,43.676357,-79.293031,The Big Carrot Natural Food Market,43.678879,-79.297734,Health Food Store
2,The Beaches,43.676357,-79.293031,Grover Pub and Grub,43.679181,-79.297215,Pub
3,The Beaches,43.676357,-79.293031,Upper Beaches,43.680563,-79.292869,Neighborhood
4,"The Danforth West, Riverdale",43.679557,-79.352188,Pantheon,43.677621,-79.351434,Greek Restaurant

Take a look at the venue distribution

In [22]:
toronto_venues.groupby('Neighbourhood').count()

,Neighbourhood Latitude,Neighbourhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighbourhood,,,,,,
"Adelaide, King, Richmond",100,100,100,100,100,100
Berczy Park,57,57,57,57,57,57
"Brockton, Exhibition Place, Parkdale Village",21,21,21,21,21,21
Business Reply Mail Processing Centre 969 Eastern,17,17,17,17,17,17
"CN Tower, Bathurst Quay, Island airport, Harbourfront West, King and Spadina, Railway Lands, South Niagara",14,14,14,14,14,14
"Cabbagetown, St. James Town",46,46,46,46,46,46
Central Bay Street,80,80,80,80,80,80
"Chinatown, Grange Park, Kensington Market",93,93,93,93,93,93
Christie,17,17,17,17,17,17
Church and Wellesley,84,84,84,84,84,84
"Commerce Court, Victoria Hotel",100,100,100,100,100,100
Davisville,36,36,36,36,36,36
Davisville North,8,8,8,8,8,8
"Deer Park, Forest Hill SE, Rathnelly, South Hill, Summerhill West",15,15,15,15,15,15
"Design Exchange, Toronto Dominion Centre",100,100,100,100,100,100
"Dovercourt Village, Dufferin",18,18,18,18,18,18
"First Canadian Place, Underground city",100,100,100,100,100,100
"Forest Hill North, Forest Hill West",4,4,4,4,4,4
"Harbord, University of Toronto",35,35,35,35,35,35
Harbourfront,50,50,50,50,50,50
"Harbourfront East, Toronto Islands, Union Station",100,100,100,100,100,100
"High Park, The Junction South",24,24,24,24,24,24
Lawrence Park,3,3,3,3,3,3
"Little Portugal, Trinity",62,62,62,62,62,62
"Moore Park, Summerhill East",3,3,3,3,3,3
North Toronto West,20,20,20,20,20,20
"Parkdale, Roncesvalles",14,14,14,14,14,14
Rosedale,4,4,4,4,4,4
Roselawn,1,1,1,1,1,1
"Runnymede, Swansea",36,36,36,36,36,36
"Ryerson, Garden District",100,100,100,100,100,100
St. James Town,100,100,100,100,100,100
Stn A PO Boxes 25 The Esplanade,98,98,98,98,98,98
Studio District,37,37,37,37,37,37
"The Annex, North Midtown, Yorkville",21,21,21,21,21,21
The Beaches,4,4,4,4,4,4
"The Beaches West, India Bazaar",20,20,20,20,20,20
"The Danforth West, Riverdale",43,43,43,43,43,43

In [23]:
print('There are {} uniques categories.'.format(len(toronto_venues['Venue Category'].unique())))

There are 235 uniques categories.

Get Neighbourhoods with fewer than 10 venues

In [24]:
idx = toronto_venues.groupby('Neighbourhood').count() >= 10
idx = idx['Venue']

### Analyze

One Hot encode

In [25]:
# one hot encoding
toronto_onehot = pd.get_dummies(toronto_venues[['Venue Category']], prefix="", prefix_sep="")
toronto_onehot.head()

# add neighborhood column back to dataframe
toronto_onehot['Neighbourhood'] = toronto_venues['Neighbourhood'] 
toronto_onehot.head()

# move neighborhood column to the first column
fixed_columns = [toronto_onehot.columns[-1]] + list(toronto_onehot.columns[:-1])
toronto_onehot = toronto_onehot[fixed_columns]

toronto_onehot.head()

,Neighbourhood,Afghan Restaurant,Airport,Airport Food Court,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,Antique Shop,Aquarium,...,Toy / Game Store,Trail,Train Station,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Wine Bar,Wine Shop,Wings Joint,Yoga Studio
0,The Beaches,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,The Beaches,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,The Beaches,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,The Beaches,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"The Danforth West, Riverdale",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Calculate frequencies

In [26]:
toronto_grouped = toronto_onehot.groupby('Neighbourhood').mean().reset_index()
toronto_grouped.head()

,Neighbourhood,Afghan Restaurant,Airport,Airport Food Court,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,Antique Shop,Aquarium,...,Toy / Game Store,Trail,Train Station,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Wine Bar,Wine Shop,Wings Joint,Yoga Studio
0,"Adelaide, King, Richmond",0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.03,0.0,0.0,...,0.0,0.0,0.0,0.020000,0.0,0.0,0.01,0.0,0.0,0.000000
1,Berczy Park,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0,...,0.0,0.0,0.0,0.017544,0.0,0.0,0.00,0.0,0.0,0.000000
2,"Brockton, Exhibition Place, Parkdale Village",0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.00,0.0,0.0,0.000000
3,Business Reply Mail Processing Centre 969 Eastern,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.00,0.0,0.0,0.058824
4,"CN Tower, Bathurst Quay, Island airport, Harbo...",0.0,0.071429,0.071429,0.142857,0.071429,0.142857,0.00,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.00,0.0,0.0,0.000000

Remove neighbourhoods with fewer than 10 venues using idx calculated earlier

In [27]:
toronto_grouped = toronto_grouped.set_index('Neighbourhood')[idx].reset_index()

In [28]:
toronto_grouped.head()

,Neighbourhood,Afghan Restaurant,Airport,Airport Food Court,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,Antique Shop,Aquarium,...,Toy / Game Store,Trail,Train Station,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Wine Bar,Wine Shop,Wings Joint,Yoga Studio
0,"Adelaide, King, Richmond",0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.03,0.0,0.0,...,0.0,0.0,0.0,0.020000,0.0,0.0,0.01,0.0,0.0,0.000000
1,Berczy Park,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0,...,0.0,0.0,0.0,0.017544,0.0,0.0,0.00,0.0,0.0,0.000000
2,"Brockton, Exhibition Place, Parkdale Village",0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.00,0.0,0.0,0.000000
3,Business Reply Mail Processing Centre 969 Eastern,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.00,0.0,0.0,0.058824
4,"CN Tower, Bathurst Quay, Island airport, Harbo...",0.0,0.071429,0.071429,0.142857,0.071429,0.142857,0.00,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.00,0.0,0.0,0.000000

### Create Top 10 venue listing

Define function

In [29]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

Use it to get Top 10

In [62]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighbourhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighbourhood'] = toronto_grouped['Neighbourhood']

for ind in np.arange(toronto_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(toronto_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighbourhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Adelaide, King, Richmond",Coffee Shop,Café,Bar,Thai Restaurant,Steakhouse,Asian Restaurant,Cosmetics Shop,Restaurant,Burger Joint,American Restaurant
1,Berczy Park,Coffee Shop,Bakery,Farmers Market,Beer Bar,Steakhouse,Cocktail Bar,Cheese Shop,Seafood Restaurant,Café,Bistro
2,"Brockton, Exhibition Place, Parkdale Village",Coffee Shop,Café,Breakfast Spot,Gym,Intersection,Performing Arts Venue,Pet Store,Climbing Gym,Restaurant,Sandwich Place
3,Business Reply Mail Processing Centre 969 Eastern,Light Rail Station,Yoga Studio,Auto Workshop,Garden Center,Garden,Fast Food Restaurant,Farmers Market,Comic Shop,Park,Restaurant
4,"CN Tower, Bathurst Quay, Island airport, Harbo...",Airport Lounge,Airport Terminal,Plane,Bar,Coffee Shop,Sculpture Garden,Boutique,Boat or Ferry,Harbor / Marina,Airport Service

### Clustering

In [31]:
from sklearn.cluster import KMeans

In [ ]:
# set number of clusters
kclusters = 5

toronto_grouped_clustering = toronto_grouped.drop('Neighbourhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=2).fit(toronto_grouped_clustering)

# check cluster labels generated for each row in the dataframe
# kmeans.labels_

Create DataFrame including Cluster Number and Top Venues

In [64]:
# add clustering labels
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

toronto_merged = df_limit

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
toronto_merged = toronto_merged.join(neighborhoods_venues_sorted.set_index('Neighbourhood'), on='Neighbourhood', how='inner')

In [65]:
toronto_merged.head()

,Borough,Neighbourhood,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
PostalCode,,,,,,,,,,,,,,,
M4K,East Toronto,"The Danforth West, Riverdale",43.679557,-79.352188,3,Greek Restaurant,Coffee Shop,Italian Restaurant,Ice Cream Shop,Restaurant,Bookstore,Furniture / Home Store,Fruit & Vegetable Store,Juice Bar,Liquor Store
M4L,East Toronto,"The Beaches West, India Bazaar",43.668999,-79.315572,0,Sandwich Place,Gym,Burger Joint,Food & Drink Shop,Steakhouse,Fish & Chips Shop,Fast Food Restaurant,Board Shop,Brewery,Burrito Place
M4M,East Toronto,Studio District,43.659526,-79.340923,3,Café,Coffee Shop,Bakery,American Restaurant,Italian Restaurant,Cheese Shop,Sandwich Place,Bar,Diner,Stationery Store
M4R,Central Toronto,North Toronto West,43.715383,-79.405678,3,Clothing Store,Sporting Goods Shop,Coffee Shop,Yoga Studio,Chinese Restaurant,Park,Spa,Mexican Restaurant,Burger Joint,Salon / Barbershop
M4S,Central Toronto,Davisville,43.704324,-79.388790,0,Sandwich Place,Pizza Place,Dessert Shop,Sushi Restaurant,Gym,Italian Restaurant,Thai Restaurant,Coffee Shop,Café,Japanese Restaurant

### Visualization

In [ ]:
!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim

Get Coordinates for Toronto

In [35]:
address = 'Toronto, ON'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Toronto are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Toronto are 43.653963, -79.387207.

Make map with Folium

In [36]:
#!conda install -c conda-forge folium=0.5.0 --yes 
import folium 
import matplotlib.cm as cm
import matplotlib.colors as colors

In [ ]:
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(toronto_merged['Latitude'], toronto_merged['Longitude'], toronto_merged['Neighbourhood'], toronto_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

## Examine lusters

### Cluster 0

This cluster seems to contain downtown areas shich have many stores, but also a fair amount of cafés, restaurants and attractions. This distinguishes it from cluster 2 which has mostly cafś and restaurants, but lacks stores and attractions.

In [50]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 0, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Neighbourhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
PostalCode,,,,,,,,,,,
M4K,"The Danforth West, Riverdale",Greek Restaurant,Coffee Shop,Italian Restaurant,Ice Cream Shop,Restaurant,Bookstore,Furniture / Home Store,Fruit & Vegetable Store,Juice Bar,Liquor Store
M4R,North Toronto West,Clothing Store,Sporting Goods Shop,Coffee Shop,Yoga Studio,Chinese Restaurant,Park,Spa,Mexican Restaurant,Burger Joint,Salon / Barbershop
M5A,Harbourfront,Coffee Shop,Pub,Park,Bakery,Restaurant,Café,Theater,Breakfast Spot,Mexican Restaurant,Farmers Market
M5B,"Ryerson, Garden District",Coffee Shop,Clothing Store,Café,Bakery,Cosmetics Shop,Middle Eastern Restaurant,Fast Food Restaurant,Ramen Restaurant,Lingerie Store,Bubble Tea Shop
M5G,Central Bay Street,Coffee Shop,Italian Restaurant,Burger Joint,Café,Ice Cream Shop,Sandwich Place,Gym / Fitness Center,Bubble Tea Shop,Salad Place,Spa
M5J,"Harbourfront East, Toronto Islands, Union Station",Coffee Shop,Hotel,Aquarium,Café,Fried Chicken Joint,Italian Restaurant,Scenic Lookout,Brewery,Restaurant,History Museum
M6R,"Parkdale, Roncesvalles",Gift Shop,Italian Restaurant,Dessert Shop,Breakfast Spot,Eastern European Restaurant,Bar,Bank,Movie Theater,Dog Run,Restaurant

### Cluster 1

This is the airport which has a quite unique set of venues (airport lounge, airoirt terminal, plane for some reason), and therefore was given its own cluster.

In [51]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 1, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Neighbourhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
PostalCode,,,,,,,,,,,
M5V,"CN Tower, Bathurst Quay, Island airport, Harbo...",Airport Lounge,Airport Terminal,Plane,Bar,Coffee Shop,Sculpture Garden,Boutique,Boat or Ferry,Harbor / Marina,Airport Service

### Cluster 2

This is the main cluster which consits of all neigbourhoods which seem to be mostly dominated by cafés and coffe shops as well as restaurants and other eateries. They appear to be more residential than the areas in cluster 0.

In [52]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 2, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Neighbourhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
PostalCode,,,,,,,,,,,
M4L,"The Beaches West, India Bazaar",Sandwich Place,Gym,Burger Joint,Food & Drink Shop,Steakhouse,Fish & Chips Shop,Fast Food Restaurant,Board Shop,Brewery,Burrito Place
M4M,Studio District,Café,Coffee Shop,Bakery,American Restaurant,Italian Restaurant,Cheese Shop,Sandwich Place,Bar,Diner,Stationery Store
M4S,Davisville,Sandwich Place,Pizza Place,Dessert Shop,Sushi Restaurant,Gym,Italian Restaurant,Thai Restaurant,Coffee Shop,Café,Japanese Restaurant
M4V,"Deer Park, Forest Hill SE, Rathnelly, South Hi...",Pub,Coffee Shop,Light Rail Station,Liquor Store,Sports Bar,Restaurant,Supermarket,Sushi Restaurant,Bagel Shop,Fried Chicken Joint
M4X,"Cabbagetown, St. James Town",Coffee Shop,Park,Bakery,Market,Café,Restaurant,Pizza Place,Pub,Italian Restaurant,Diner
M4Y,Church and Wellesley,Coffee Shop,Japanese Restaurant,Sushi Restaurant,Gay Bar,Restaurant,Pub,Men's Store,Mediterranean Restaurant,Hotel,Gym
M5C,St. James Town,Café,Coffee Shop,Restaurant,Clothing Store,Italian Restaurant,Hotel,Bakery,Beer Bar,Cosmetics Shop,American Restaurant
M5E,Berczy Park,Coffee Shop,Bakery,Farmers Market,Beer Bar,Steakhouse,Cocktail Bar,Cheese Shop,Seafood Restaurant,Café,Bistro
M5H,"Adelaide, King, Richmond",Coffee Shop,Café,Bar,Thai Restaurant,Steakhouse,Asian Restaurant,Cosmetics Shop,Restaurant,Burger Joint,American Restaurant
M5K,"Design Exchange, Toronto Dominion Centre",Coffee Shop,Café,Hotel,Bar,American Restaurant,Restaurant,Gastropub,Italian Restaurant,Steakhouse,Seafood Restaurant
M5L,"Commerce Court, Victoria Hotel",Coffee Shop,Café,Hotel,Restaurant,American Restaurant,Italian Restaurant,Bakery,Steakhouse,Gym,Gastropub
M5R,"The Annex, North Midtown, Yorkville",Café,Sandwich Place,Coffee Shop,Pharmacy,BBQ Joint,Cosmetics Shop,Pizza Place,Pub,Metro Station,Burger Joint
M5S,"Harbord, University of Toronto",Café,Bookstore,Restaurant,Bar,Italian Restaurant,Japanese Restaurant,Sandwich Place,Bakery,Dessert Shop,Poutine Place
M5T,"Chinatown, Grange Park, Kensington Market",Café,Bar,Mexican Restaurant,Vietnamese Restaurant,Dumpling Restaurant,Chinese Restaurant,Coffee Shop,Bakery,Park,Record Shop
M5W,Stn A PO Boxes 25 The Esplanade,Coffee Shop,Café,Restaurant,Bakery,Italian Restaurant,Seafood Restaurant,Beer Bar,Hotel,Japanese Restaurant,Cheese Shop
M5X,"First Canadian Place, Underground city",Coffee Shop,Café,Restaurant,Steakhouse,Hotel,Gastropub,Deli / Bodega,Bar,Bakery,Burger Joint
M6H,"Dovercourt Village, Dufferin",Pharmacy,Supermarket,Bakery,Athletics & Sports,Middle Eastern Restaurant,Music Venue,Park,Playground,Portuguese Restaurant,Café
M6J,"Little Portugal, Trinity",Bar,Coffee Shop,Asian Restaurant,Men's Store,Restaurant,New American Restaurant,Vietnamese Restaurant,Café,Pizza Place,Bakery
M6K,"Brockton, Exhibition Place, Parkdale Village",Coffee Shop,Café,Breakfast Spot,Gym,Intersection,Performing Arts Venue,Pet Store,Climbing Gym,Restaurant,Sandwich Place
M6P,"High Park, The Junction South",Mexican Restaurant,Café,Bar,Thai Restaurant,Park,Music Venue,Fast Food Restaurant,Bookstore,Flea Market,Speakeasy
M6S,"Runnymede, Swansea",Coffee Shop,Café,Sushi Restaurant,Italian Restaurant,Pizza Place,Diner,Indie Movie Theater,Bar,Food & Drink Shop,Food

### Cluster 3

Another unique cluster that only contains the Business Reply Mail Processing Center.

In [53]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 3, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Neighbourhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
PostalCode,,,,,,,,,,,
M7Y,Business Reply Mail Processing Centre 969 Eastern,Light Rail Station,Yoga Studio,Auto Workshop,Garden Center,Garden,Fast Food Restaurant,Farmers Market,Comic Shop,Park,Restaurant

### Cluster 4

This one is a bit of an odd one, since it would have fit well into cluster 2. From this it can be reasoned that 4 clusters would have been enough, since the algorithm had to find another cluster and ended up choosing one that makes little sense, probably because it is very close to another one. This is in fact a very nice example.

In [54]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 4, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Neighbourhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
PostalCode,,,,,,,,,,,
M6G,Christie,Grocery Store,Café,Park,Convenience Store,Diner,Italian Restaurant,Baby Store,Restaurant,Athletics & Sports,Nightclub